/* default styling */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
      font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.47em;
  font-weight: 400;
  font-style: normal;
  color: #454545;
}

b {
  color: #454545;
  font-weight: bold;
}

a, a:link {
  color: #39DB49;
  font-weight: bold;
}

a:hover, a:active, a:visited {
  color:#18B728;
  border-bottom: 1px solid rgba(57, 219, 73, 1);
  -webkit-transition: border-color 0.5s ease-out;
  -moz-transition: border-color 0.5s ease-out;
  -ms-transition: border-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
  text-decoration: none;
}

::selection {
  background: #5DF36C; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #5DF36C; /* Gecko Browsers */
}


.article {
  width:100%;
  height:100%;
  border: 0px solid grey;
  display: inline-block;
  vertical-align: top;
  margin:0;
  position: relative;
  color:white;
  left:0;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(57,219,73,0.7);
}


.article * {
    position: relative;
    margin: 0;
    left: 0;
    /* hack */
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #000;
}

ul.nav {
  padding: 0;
  padding-left: 30px;
  right: 0;
  top: 0;
  left: 0;
  color: #555;
}

ul.nav li {
  display: inline-block;
}

ul.nav li a {
  padding: 19px 30px;
  color: #aaa;
  font: 11px Arial;
}

ul.nav li a:focus, ul.nav li a:active,
#p1:target, #p2:target, #p3:target, #p4:target,
#p1:focus, #p2:focus, #p3:focus, #p4:focus {
  background-color: #222 !important;
}

ul.nav li a:hover {
  background-color: transparent;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  color: #39DB49;
  text-decoration: none;
  border-bottom: 0px solid transparent;
}

ul.nav li:last-child { float:right; }

#hire {
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

#hire:hover {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  color: #39DB49;
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  nav ul li:first-of-type {
    display: none;
  }

    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        background-color: #000;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background-color: #000;
    }

    nav a:hover {
        background-color: #000;
    }
}


#headerBG.container-fluid, img#headerBG.container-fluid s{
    max-width: 100%;
    height: 750px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: static;
    background-image: url('http://hdwallpapersfit.com/wp-content/uploads/2015/02/amazing-cityscape-wallpapers-desktop.jpg');
    background-attachment: fixed;
}

#nav.container-fluid {
  max-width: 100%;
  background-color: #000000 !important;
  line-height: 50px;
  position: fixed;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Right {
  left: auto; right: 20px;
  text-align: right;
}

.Absolute-Center.is-Left {
  right: auto; left: 70px;
  text-align: left;
}

#box.Absolute-Center.is-Left {
  height: 300px;
}


h1 {
  font-size:1.375 em;
  line-height:1.925 em;
  font-family:"Avenir","Lato",sans-serif;
  margin:0;
  color:#fff;
  font-weight:300;
}

h2 {
  font-size:1.375 em;
  line-height:1.925 em;
  font-family:"Avenir","Lato",sans-serif;
  margin:0;
  color:#454545;
  font-weight: lighter;
}

p.Absolute-Center.is-Left {
  font: normal 18px/22px Arial;
  color: #eee !important;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, .5);
  color: rgba(255, 255, 255, 1) !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  width: auto;
}

.button:hover, a.button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  -webkit-transition: border-color 0.5s ease-out;
  -moz-transition: border-color 0.5s ease-out;
  -ms-transition: border-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
  background-color: rgba(255, 255, 255, .2);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.faHover:hover {
  color: rgba(57,219,73,1);
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

a.button {
  text-decoration: none;
}

#imgpad.container {
  padding: 0;
}

#imgpad.container img {

}

#footer.container-fluid {
  background-color: #000;
  padding: 20px 40px;
}

.rowbg {
  background-color: #eee;
  padding: 25px 70px;
}

.services {
  font-family:"Avenir","Lato",sans-serif;
  font-size:25px;
  line-height: 30px;
  margin:0;
  color:#454545;
  font-weight: 100;
}
