.footer {
  padding: 30px;
  background-color: $offwhite;
  color: $gray;

  .row {
    margin-bottom: 1%;
  }

  .fa {
    padding-right: 30px;
    font-size: 1.5em;

    &:hover {
      color: $blue;
      position: relative;
      top: -2px;
      cursor: pointer;
      @include transition(all .3s ease);
    }
  }

  .fa-youtube {
    padding: 0;
  }
}
