#about, #sneakpeek, #blog, #newstories, #signup {
  padding: 70px 0;

  .row {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto 20px;

    @include tablet {
      width: 100%;
    }

    @include phone {
      width: 100%;
    }
  }
}

#sneakpeek, #newstories {
  h2 {
    font: 600 2.2em $body-font;
    color: $white;
    background-color: $gray;
    margin-bottom: 5px;
    padding: 12px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
  }
}

#about {
  background-color: $light-gray;
  width: 100%;

  img {
    width: 85%;
  }

  h1 {
    font: 600 3em $body-font;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  h3 {
    margin-top: 0;
    font-size: 1.3em;
    font-style: italic;
  }
}

#sneakpeek {
  width: 100%;
  background: url('../img/ignasi_pattern_s.png') repeat fixed;
}

#blog {
  h2 {
    font: 700 2.5em $body-font;
    color: $light-gray;
    border: 7px solid $light-gray;
    text-align: center;
    padding: 15px 25px;
    display: table;
    width: auto;
    margin: 3% auto;

    @include phone {
      margin-bottom: 5%;
    }
  }

  .moreblog {
    font: italic .9em $title-font;
    text-align: right;
    padding: 15px 10px;

    &:hover {
      .fa {
        color: $dark-gray;
      }
    }

    a {
      padding-bottom: 5px;
      opacity: .6;
      @include transition(all .2s ease-in-out);

      &:hover {
        // border-bottom: 1px solid $light-gray;
        opacity: 1;
        color: $blue;
      }
    }

    .fa {
      font-size: .9em;
      padding-left: 7px;
    }
  }

  .col--blog {
    background-color: $light-gray;
    height: 400px;
    padding: 0;
    overflow: hidden;

    @include desktop {
      margin: .5%;
      width: 24%;
    }

    @include phone {
      height: 320px;
    }

    &:hover {
      figcaption {
        opacity: 1;
	      -webkit-transform: translate3d(0,-100px,0);
	      transform: translate3d(0,-100px,0);
      }

      img {
        -webkit-transform: translate3d(0,-130px,0);
    	  transform: translate3d(0,-130px,0);
      }

      .header {
        -webkit-transform: translate3d(0,-169px,0);
    	  transform: translate3d(0,-169px,0);
      }
    }
  }

  img {
    position: relative;
    display: block;
    height: 400px;
    width: auto;
    -webkit-transition: -webkit-transform 0.35s;
	  transition: transform 0.35s;
  }

  .header {
    font: 600 1em $body-font;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 7.5px 8.5px;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.35s;
	  transition: transform 0.35s;
  }

  .date {
    font: 600 .85em $body-font;
    background-color: $gray;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 7.5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  figure {
    margin: 0;
  }

  figcaption {
    position: absolute;
	  bottom: -100px;
	  left: 0;
    opacity: 0;
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-transform: translate3d(0,50px,0);
	  transform: translate3d(0,50px,0);

    .text {
      padding: 20px 20px 0;
      background-color: $light-gray;
      height: 145px;
      overflow: hidden;

      &::after {
        content: '[...]';
      }
    }

    p.readmore {
      text-align: right;
      font: italic .85em $title-font;
      padding-right: 20px;

      &:hover, a:hover {
        color: $dark-gray;
        @include transition(all .2s ease);
        cursor: pointer;
      }

      &::after {
        font-family: 'FontAwesome';
        content: '\f054';
        font-size: .75em;
      }

      &:hover::after {
        color: $blue;
        @include transition(all .2s ease);
      }
    }
  }
}

#newstories {
  // background-color: $light-gray;
  background: url('../img/ignasi_pattern_s.png') repeat fixed;
  width: 100%;

  h2 {
    margin-bottom: 15px;
  }
}


#signup {
  background-color: $blue;
  width: 100%;

  h2 {
    font: 700 2.5em $body-font;
    color: $light-gray;
    border: 7px solid $light-gray;
    text-align: center;
    padding: 15px 25px;
    display: table;
    width: auto;
    margin: 3% auto 5px;
  }

  h3 {
    color: $light-gray;
    margin-top: 0;
    font-size: 1.3em;
    font-style: italic;
  }

  .form-control {
    border-radius: 0;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .btn {
    border-radius: 0;
    text-transform: uppercase;
    font: 600 .9em $body-font;
    padding: 10px 25px;
    background-color: $call-to-action;
    color: $white;
    border: 0;

    &:hover {
      border: 0;
      background-color: $black;
      @include transition(all .3s ease);
    }
  }
}
