body {
  background-color: $offwhite;
  font-family: $body-font;
  padding-top: 60px;
}

h1, h2 {
  font-family: $body-font;
}

h3 {
  font-family: $title-font;
}


a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}
