body {
  background-color: $gray;
}

a {
  color: $light-gray;
  text-decoration: none;

  &:hover {
    color: $olive;
    text-decoration: none;
  }
}

::selection {
  background: $green; /* WebKit/Blink Browsers */
  color: $light-gray;
}
::-moz-selection {
  background: $green; /* Gecko Browsers */
  color: $light-gray;
}
