/* div container
2 containers - one 40% width, one 60% width
modal

do it with a lightbox / modal library
fancybox.net for modal

stylesheet = use SASS

jquery and JS to code it


cloudzoom - star plugins
(inner zoom)

eloquent javaascript PDF */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.375;
}


.header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.header-content .contain {
    margin: 0 auto;
    width: 800px;
    display: flex;
}

.header-content .contain .left {
  width: 40%;
  margin-right: 100px;
  overflow: hidden;
}

.header-content .contain .right {
  flex: 1;
}

.header-content .contain .clear {
  clear: both;
}

@media screen and (min-width: 450px) {
  .gallery {
      position: relative;
      height: 480px;
      width: 340px;
      overflow: hidden;
    }
    .target {
      position: absolute;
      top: 60px;
      left: -320px;
      height: 220px;
      width: 300px;
      -webkit-transition: 1s;
         -moz-transition: 1s;
          -ms-transition: 1s;
           -o-transition: 1s;
              transition: 1s;

   }
    .target:target {
      top: 60px;
      left: 20px;
    }

.gallery .gallery-contain {
  margin-top: 400px;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

.gallery .gallery-contain img {
  width: 25%;
  height: auto;
}

.gallery .gallery-contain nav {
  width: 100%;
}

.gallery .gallery-contain ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery .gallery-contain li img {
  float: left;
  display: inline;
  margin: 10px;
}
}
