---
layout: home-page
title: Doreen Trinh | Junior Web Developer
---

<div class="container" style="padding: 110px 2.25em" id="about">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-xs-12">
      {% include_relative _includes-home/skills.html %}

    </div>
    <div class="col-md-6 col-xs-12">
      {% include_relative _includes-home/about.html %}

    </div>
  </div>
</div>

<div class="container" style="padding-top: 5px" id="projects">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Projects I've worked on</h1>

      {% include_relative _includes-home/portfolio.html %}

    </div>
  </div>
</div>

<div class="container" style="padding: 170px 2.25em; margin-bottom: 200px;" id="contact">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% include_relative _includes-home/contact.html %}
    </div>
  </div>
</div>
