.about {
    position: absolute;
    padding-top: 90px;
    padding-left: 90px;
    width: 54%;
    height: 100vh;

    @include phone-and-tablet {
      padding-left: 20px;
    }

    h1 {
      font: 400 50px $fontFam;
      letter-spacing: 1px;
      color: $mainColor;
    }

    h2 {
      color: #666;
    }

    .fa-icon {
      @include faIcon;
    }
}

@include desktop-and-under {
  .container.about {
    width: 95%;
  }
}

@media(min-width:1024px) and (max-width:1200px) {
  .container.about {
    width: 61%;
  }
}
