<footer class="animated fadeInUp">

<div id="footer-interior">
  <div class="col-md-6 col-sm-6 col-xs-12">
    Doreen Trinh
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 right">
    <a href="mailto:doreenmtrinh@gmail.com">E-Mail</a>
    <a href="http://trinhdm.github.io/assets/pdf/resume_doreen%20trinh2.pdf">Resume</a>
    <a href="https://github.com/trinhdm">GitHub</a>
    <a href="https://www.linkedin.com/in/doreen-trinh-378a99100">LinkedIn</a>
  </div>
</div>

</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/transition.js"></script>
<script src="{{ site.baseurl }}/assets/js/zoom.js"></script>
<script src="{{ site.baseurl }}/assets/js/init.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/js/smoothscrolling.js"></script> -->
