<div class="footer">
  <a href="#top"><button class="back-to-top" data-info=""><span>arrow</span></button></a>

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <h4>Hi! I'm Doreen Trinh. I'm a junior web developer, based in Southern California.</h4>

      <p>If you'd like to discuss a project or contract opportunities, please feel free to contact me.</p>
      <i class="fa fa-envelope"></i> <a href="mailto:doreenmtrinh@gmail.com">doreenmtrinh@gmail.com</a><br>
      <i class="fa fa-phone"></i> 858-705-0285
    </div>

    <div class="col-md-3 col-md-offset-2" id="footerlinks">
      <a href="https://github.com/trinhdm/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/doreen-trinh-378a99100" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <br>
    </div>
  </div>
</div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


      <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
  		<script src="{{ site.baseurl }}/assets/js/classie.js"></script>
      <script src="{{ site.baseurl }}/assets/js/smoothscrolling.js"></script>

  <!-- for the blur effect -->
  <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
  <script>
  	// this is important for IEs
  	var polyfilter_scriptpath = '/js/';
  </script>

</footer>
