<header class="site-header">

  <div id="top" name="top"></div>
  <div id="top-bar"></div>
  <nav id="portfolio-navbar" class="navbar navbar-default navbar-fixed-top animated fadeInDown">
    <div class="container-fluid" id="navbar-interior">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/" id="brand" class="transition">Doreen Trinh | Front-end Dev & Designer</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% include nav.html %}
        </ul>
      </div>
    </div>
  </nav>

</header>
