<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no">

  <title>Doreen Trinh | Junior Web Dev</title>
  <meta name="keywords" content="design, front-end development, front end development, front-end, front end, development, user experience, user interface, web design, web development" />


  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script LANGUAGE=JavaScript>
    function now(){
      window.location.reload(true);
    }
  </script>
</head>
