{% if page.url == '/portfolio/' %}
  <li class="active" id="portfolio-nav">
{% else %}
  <li id="portfolio-nav">
{% endif %}
<a href="/portfolio/" class="transition">Portfolio</a></li>

{% if page.url == '/about/' %}
  <li class="active">
{% else %}
  <li>
{% endif %}
<a href="/about/" class="transition">About</a></li>

<!-- {% if page.url == '/index.html#contact' %}
  <li class="active">
{% else %} -->
  <li>
<!-- {% endif %} -->
<a href="{{ site.baseurl }}/assets/pdf/resume_doreen trinh2.pdf" class="transition">Resume</a></li>

{% if page.url == '/writings/' %}
  <li class="active" id="writings-nav">
{% elsif page.id %}
  <li class="active" id="writings-nav">
{% else %}
  <li id="writings-nav">
{% endif %}
<a href="/writings/" class="transition">Writings</a></li>
