@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,800';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800';


$body-font: 'Open Sans', sans-serif;

$navbar-height: 60px;
$body-width: 66.66666667%;

$white: #fff;
$black: #000;
$silver: #a1a1a1;
$alto: #ddd;
$mine-shaft: #363636;

$dodger-blue: #3780FB;

$camouflage-green: #778B71;
$envy: #8EA886;
$conifer: #bada55;
$citron: #86a524;
