.content {
	margin: 0 auto;
	padding: 0 0 3em;

  h3 {
  	margin: 0;
  	font-size: 1.4em;
  }

  blockquote {
   padding: 0.25em;
   font-style: italic;
   font-size: 1.65em;
   font-family: $titleFont;
   line-height: 1.4;


   &::before {
   	content: '\201C';
   }

   &::after {
   	content: '\201D';
   }
 }
}

.content > div:not(.title) {
	/*margin: -80px auto 0;
	max-width: 900px;*/
	padding: 0 2.25em;
	font-size: 16px;

  h1 {
  	font-family: $titleFont;
  }

  h2 {
  	color: $secondColor;
  	font-size: 1.25em;
  	margin-top: 0;
  }

  a:hover {
  	color: $firstColor;
  	// border-bottom: 1px solid #69606b;
  	padding-bottom: 2px;
  }

  b, i {
    color: $secondColor;
  }

  p {
  	margin: 0 auto 1.5em auto;

    &:first-child {
    	font-size: 1.35em;
    }
  }

  li {
  	list-style: none;

    &.dev:before {
      content: "\f121";
      color: $thirdColor;
      @include fa-li;
    }

    &.design:before {
    	content: "\f08a";
      color: $thirdColor;
      @include fa-li;
    }

    &.tools:before {
      content: "\f120";
      color: $thirdColor;
      @include fa-li;
    }

    &.cms:before {
      content: "\f109";
      color: $thirdColor;
      @include fa-li;
    }
  }


  .fa {
    padding-right: 1em;

    &:hover {
      border-bottom: 0px solid transparent;
      color: $firstColor;
      @include transition(all .5s ease);
    }
  }

	.next {
		margin-top: 70px;
		height: 20px;
		display: inline-block;

		@include tablet {
			display: none;
		}

		@include phone {
			display: none;
		}

		p {
			line-height: 20px;
		}

		i {
			vertical-align: middle;
			padding-right: .5em;
		}
	}
}
