@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


/* FONT / COLORS
============================================= */

$titleColor: #516165;       // dark steel blue
$mainColor: #7b8d92;        // light steel blue
$secondColor: #43939d;      // teal
$thirdColor: #A8C9CD;       // light blue
$fourthColor: #69606b;       // purpleish black-brown

$white: #efefef;


$titleFont: 'Roboto Slab', Georgia, serif;
$secondFont: 'Raleway', Arial, sans-serif;



/* REGULAR MIXINS
============================================= */

@mixin fa-li {
  font-family: 'FontAwesome';
  float: left;
  color: $thirdColor;
  padding-right: 0em;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}



/* MIXINS FOR RESPONSIVENESS
============================================= */

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-and-under {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
