@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

.grid {
	padding: 0;
	/*max-width: 1300px;*/
	margin: 0 auto;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		width: 300px;
		margin: 0;
		padding: 20px;
		text-align: left;
		position: relative;
	}

	figure {
		margin: 0;
		position: relative;

		img {
		  max-height: 230px;
			max-width: 100%;
			display: block;
			position: relative;
		}
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: rgb(239, 239, 239);
		color: $mainColor;
	  font: .9em $secondFont;
		color: $mainColor;

		h3 {
			margin: 0;
			padding-left: 27px;
			color: $secondColor;
		  font: 1.1em $titleFont;
		}

		a.see {
			text-align: center;
			padding: 5px 10px;
			display: inline-block;
			background: transparent;
			color: $secondColor;
		  font: .9em $titleFont;
		  font-style: italic;
		  text-transform: lowercase;
			cursor: pointer;
			position: absolute;
			bottom: 10px;
			right: 10px;

			&::after {
			  padding-left: 5px;
			  content: '\f105';
			  font-family: 'FontAwesome';
			}
		}

		a:hover {
		  border-bottom: 0px solid transparent !important;
		  padding-bottom: 5px !important;
		}
	}
}

.g-hover {
	figure {
		overflow: hidden;

		img {
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			transition: transform 0.4s;
		}
	}

	figcaption {
		height: 100px;
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
}

.no-touch .g-hover figure:hover img,
.g-hover figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.no-touch .g-hover figure:hover figcaption,
.g-hover figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
