@import "https://fonts.googleapis.com/css?family=Raleway:400,600,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";
/* Header Styling
=============================================*/
/* Transitions
=============================================*/
/* Transforms
=============================================*/
/* Animations
=============================================*/
/* Opacity
=============================================*/
/* MIXINS FOR RESPONSIVE DESIGN
============================================= */
/* About.html - Skills - Pie Chart
=============================================*/
@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); } }
@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); } }
/* Portfolio.html - rippling effect for arrows
=============================================*/
@-webkit-keyframes ripple-left {
  0% {
    left: 15px; }
  100% {
    left: 0px;
    opacity: 0; } }
@keyframes ripple-left {
  0% {
    left: 15px; }
  100% {
    left: 0px;
    opacity: 0; } }
@-webkit-keyframes ripple-right {
  0% {
    left: 15px; }
  100% {
    left: 30px;
    opacity: 0; } }
@keyframes ripple-right {
  0% {
    left: 15px; }
  100% {
    left: 30px;
    opacity: 0; } }
/* Fade Out
=============================================*/
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Float (for font awesome)
=============================================*/
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite; }

.faa-float.animated.faa-fast,
.faa-float.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-fast {
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite; }

.faa-float.animated.faa-slow,
.faa-float.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-slow {
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite; }

/* Float More (for everything else)
=============================================*/
@-webkit-keyframes float-more {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes float-more {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.regular-float {
  -webkit-animation: float-more 3s linear infinite;
  animation: float-more 3s linear infinite; }

body {
  font-family: "Open Sans", sans-serif;
  background: #f7f7f7;
  overflow-x: hidden; }

h2 {
  margin: 20px 0 30px; }

a {
  color: #3780FB;
  font-weight: 600;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #363636;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in; }

#preloader {
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0; }

.project-thumbnail {
  overflow: hidden;
  position: relative;
  height: 260px;
  margin-bottom: 30px; }
  .project-thumbnail.left {
    padding-left: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .project-thumbnail.left {
        padding: 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .project-thumbnail.left {
        padding: 0 15px; } }
  .project-thumbnail.right {
    padding-right: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .project-thumbnail.right {
        padding: 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .project-thumbnail.right {
        padding: 0 15px; } }
  .project-thumbnail .project-thumbnail-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #a1a1a1; }
    .project-thumbnail .project-thumbnail-wrap img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%);
      opacity: 0.75;
      filter: alpha(opacity=75);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .project-thumbnail .project-thumbnail-wrap:hover {
      cursor: pointer; }
    .project-thumbnail .project-thumbnail-wrap:hover > img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -moz-transform: scale(1.08);
      -o-transform: scale(1.08);
      -ms-transform: scale(1.08);
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
      opacity: 1;
      filter: alpha(opacity=100); }
    .project-thumbnail .project-thumbnail-wrap:hover > .project-thumbnail-text {
      opacity: 1;
      transform: translateY(-10px); }
  .project-thumbnail .project-thumbnail-text {
    opacity: 0;
    background: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    padding: 8px 14px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
    .project-thumbnail .project-thumbnail-text h4, .project-thumbnail .project-thumbnail-text h5 {
      color: #363636 !important; }
    .project-thumbnail .project-thumbnail-text h4 {
      font-weight: 600; }

nav#portfolio-navbar {
  font: 600 0.8em "Open Sans", sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: #fff;
  margin: 0;
  border: 0;
  border-radius: 0;
  top: -60px; }
  nav#portfolio-navbar li {
    display: inline-block; }
    nav#portfolio-navbar li a {
      display: inline-block;
      padding: 19.5px 15px;
      color: #a1a1a1;
      text-decoration: none; }
      nav#portfolio-navbar li a:hover, nav#portfolio-navbar li a:focus {
        color: #6e6e6e;
        background: white; }
      nav#portfolio-navbar li a:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        margin-top: -11px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease; }
      nav#portfolio-navbar li a:hover:after {
        width: 100%;
        background: #363636;
        opacity: .3; }
    nav#portfolio-navbar li.active a {
      color: #363636;
      background: transparent; }
  nav#portfolio-navbar #navbar-interior {
    width: 66.66667%;
    max-width: 66.66667%;
    height: 60px;
    margin-left: 16.66666667%;
    padding: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      nav#portfolio-navbar #navbar-interior {
        width: auto;
        max-width: none;
        padding: 0 40px;
        margin: 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      nav#portfolio-navbar #navbar-interior {
        width: auto;
        max-width: none;
        padding: 0 15px;
        margin: 0; } }
  nav#portfolio-navbar .navbar-header {
    height: 60px;
    line-height: 60px; }
    @media (min-width: 320px) and (max-width: 767px) {
      nav#portfolio-navbar .navbar-header {
        padding-left: 15px; } }
  nav#portfolio-navbar .navbar-name {
    color: #778B71; }
    nav#portfolio-navbar .navbar-name:hover, nav#portfolio-navbar .navbar-name:focus {
      color: #8EA886;
      text-decoration: none; }
  nav#portfolio-navbar a#brand {
    color: #363636; }
    nav#portfolio-navbar a#brand:hover, nav#portfolio-navbar a#brand:focus {
      text-decoration: none;
      color: #d4d4d4;
      background: white; }
  @media (min-width: 320px) and (max-width: 767px) {
    nav#portfolio-navbar .navbar-collapse {
      border: 0;
      background: #fff; } }
  @media (min-width: 320px) and (max-width: 767px) {
    nav#portfolio-navbar .navbar-nav {
      margin-top: 0; } }
  @media (min-width: 320px) and (max-width: 767px) {
    nav#portfolio-navbar .navbar-toggle {
      margin-top: 12px; } }

footer {
  font: 600 0.8em "Open Sans", sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: #fff; }
  footer #footer-interior {
    width: 66.66667%;
    height: 60px;
    margin-left: 16.66666667%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      footer #footer-interior {
        width: auto;
        max-width: none;
        padding: 0 40px;
        margin: 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      footer #footer-interior {
        width: auto;
        max-width: none;
        padding: 0 15px;
        margin: 0;
        height: 120px; } }
    footer #footer-interior .col-md-6 {
      padding: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      footer #footer-interior .col-xs-12 {
        text-align: center !important; } }
    footer #footer-interior .right {
      text-align: right; }
      footer #footer-interior .right a {
        display: inline-block;
        margin-left: 15px;
        color: #3780FB; }
        footer #footer-interior .right a:hover, footer #footer-interior .right a:focus {
          color: #6e6e6e;
          background: white;
          text-decoration: none; }
        footer #footer-interior .right a:after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          margin-top: -31px;
          background: transparent;
          transition: width .5s ease, background-color .5s ease; }
        footer #footer-interior .right a:hover:after {
          width: 100%;
          background: #363636;
          opacity: .3; }
  footer .footer-links {
    text-align: right; }
  footer .footer-link {
    display: inline-block;
    margin-left: 10px; }
  footer .footer-copyright {
    padding-left: 0; }

.content {
  margin: 40px auto 0;
  display: block;
  background: #f7f7f7;
  padding: 25px 0 0;
  position: relative;
  z-index: 100; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content {
      padding: 20px 40px; } }
  .content p.small {
    font: 600 0.85em "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #363636;
    margin-bottom: 10px; }
    .content p.small.with-margin {
      margin: 20px 0 30px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .content p.small.with-margin {
          margin: 20px 0 15px; } }
    .content p.small a {
      color: #363636;
      text-decoration: none;
      display: inline-block;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .content p.small a:hover {
        color: #a1a1a1; }
      .content p.small a:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        margin-top: -8px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease; }
      .content p.small a:hover:after {
        width: 100%;
        background: #a1a1a1;
        opacity: .5; }
  .content p.intro-text {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600; }
    @media (min-width: 320px) and (max-width: 767px) {
      .content p.intro-text {
        font-size: 1.7em;
        line-height: 1.35; } }
  .content b {
    color: #363636;
    font-weight: 600; }
  .content span.links-wrap {
    width: 100%; }
  .content a.links {
    color: #3780FB;
    font: 600 0.8em "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
    .content a.links:hover {
      color: #363636; }
    .content a.links:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      margin-top: -8px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    .content a.links:hover:after {
      width: 100%;
      background: #363636;
      opacity: .3; }
  .content .header-spacing {
    margin-bottom: 20px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .content .header-spacing {
        margin-left: 15px; } }
  .content .black-header, .content .silver-header {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.45;
    margin-bottom: 20px; }
  .content .black-header {
    color: #363636; }
  .content .silver-header {
    color: #a1a1a1; }

.row-no-margin {
  margin: 0; }

.home-button {
  font: 600 0.85em "Open Sans", sans-serif;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 210px;
  padding: 15px 18px;
  margin: 0 auto;
  cursor: pointer;
  background: linear-gradient(to right, #363636 49.5%, #3780FB 50%);
  background-position: 99.75% 0;
  background-size: 200% 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .home-button:hover, .home-button:focus {
    text-decoration: none;
    background-position: 0 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .home-button a {
    color: #fff !important;
    width: 100%;
    height: 100%; }

.intro {
  position: relative; }
  @media screen and (min-width: 1400px) {
    .intro .intro-wrap {
      height: 600px;
      position: absolute;
      top: 10%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro .intro-wrap {
      height: 600px;
      position: absolute;
      top: 10%; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .intro .intro-wrap {
      padding: 0 20px; } }

#selected-projects {
  margin: 20px -15px 50px; }

#recent-writings {
  margin: 0 -15px 40px; }

.see-work {
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: -1; }

#see-my-work-arrow {
  font: 600 0.85em "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: calc(0% + 64px);
  /* max-height: 30px; */
  max-width: 150px;
  /* margin: 0 auto; */
  padding: 15px 18px;
  cursor: pointer;
  background: #3780FB;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  #see-my-work-arrow:hover {
    background: #a1a1a1;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  #see-my-work-arrow .faa-hover {
    position: absolute;
    top: -9px;
    right: 17px;
    font-size: 1em;
    visibility: hidden; }
  #see-my-work-arrow .fa {
    margin-left: 5px; }
  #see-my-work-arrow .visible {
    visibility: visible; }

#home {
  margin-bottom: 180px; }

#home-contact {
  text-align: center;
  width: 100%;
  height: 220px;
  background: url("../img/cork-wallet.png");
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    #home-contact {
      height: 270px; } }
  #home-contact h2 {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600;
    color: #888888;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px; }
  #home-contact #home-contact-wrapper {
    position: relative;
    top: 2%;
    max-width: 500px;
    margin: 0 auto; }
    #home-contact #home-contact-wrapper .fa {
      color: #888888;
      margin: 0 20px;
      font-size: 2.5em;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #home-contact #home-contact-wrapper .fa:hover {
        color: #363636;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

#about {
  margin-top: 50px;
  /* Skills - Pie Chart
  =============================================*/
  /* Other Tools of the Trade
  =============================================*/
  /* Random Facts
  =============================================*/ }
  @media (min-width: 320px) and (max-width: 767px) {
    #about {
      margin: 50px 20px 0; } }
  #about p {
    line-height: 1.8; }
  #about .about-intro {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600; }
  #about #skills-pie-chart {
    margin: 60px 0 0; }
  #about .pie-chart--wrapper {
    width: 33.33333%;
    margin: 0 auto 30px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      #about .pie-chart--wrapper {
        width: 100%; } }
  #about .pie-chart__pie, #about .pie-chart__legend {
    display: inline-block;
    vertical-align: top; }
  #about .pie-chart__pie {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 25px; }
    #about .pie-chart__pie::before {
      content: "";
      background: #f7f7f7;
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50px;
      left: 50px;
      border-radius: 50%;
      z-index: 1; }
    #about .pie-chart__pie .slice {
      position: absolute;
      width: 200px;
      height: 200px;
      clip: rect(0px, 200px, 200px, 100px); }
      #about .pie-chart__pie .slice.bake-pie {
        -webkit-animation: bake-pie 1s;
        animation: bake-pie 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s; }
      #about .pie-chart__pie .slice span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px); }
  #about .pie-chart__shadow {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
    top: -18%;
    margin: 0 auto; }
  #about .pie-chart__legend {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 20px auto 0;
    background: #FFF;
    padding: 0.75em 0.75em 0.05em;
    font-size: 13px;
    box-shadow: 1px 1px 0 #ddd, 2px 2px 0 #b7b7b7;
    text-align: left;
    width: 65%; }
    #about .pie-chart__legend li {
      height: 1.25em;
      margin-bottom: 0.7em;
      padding-left: 0.5em;
      border-left: 1.25em solid black; }
    #about .pie-chart__legend em {
      font-style: normal; }
    #about .pie-chart__legend span {
      display: none; }
  #about .pie-charts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  @media (max-width: 500px) {
    #about .pie-charts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #about #other-tools {
    margin: 50px auto 70px;
    padding: 50px 0;
    position: relative; }
    #about #other-tools::before {
      content: "";
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 50%;
      margin-left: -50px;
      height: 1px;
      width: 100px;
      display: block;
      border-bottom: 1px solid #767676; }
    #about #other-tools::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: 0;
      height: 1px;
      width: 100px;
      border-top: 1px solid #363636; }
    #about #other-tools #tools-images {
      margin: 10px -15px 35px; }
    #about #other-tools img {
      max-height: 55px;
      width: auto;
      margin: 5px 25px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      @media (min-width: 320px) and (max-width: 767px) {
        #about #other-tools img {
          margin: 15px 25px; } }
      #about #other-tools img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s; }
  #about #random-facts {
    margin-bottom: 60px; }
    #about #random-facts ul {
      padding: 0; }
    #about #random-facts li {
      list-style: none;
      margin-bottom: 15px; }

#portfolio {
  margin-top: 50px; }
  #portfolio p {
    line-height: 1.8; }
  #portfolio .portfolio-intro {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600;
    margin-bottom: 30px; }
    @media (min-width: 320px) and (max-width: 767px) {
      #portfolio .portfolio-intro {
        margin: 0 20px 20px; } }

.portfolio-navigation {
  position: fixed;
  font-size: 4em;
  z-index: 200;
  height: 100vh; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .portfolio-navigation {
      display: none; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .portfolio-navigation {
      display: none; } }
  .portfolio-navigation.left, .portfolio-navigation.right {
    width: 100px; }
  .portfolio-navigation.left {
    left: 50px; }
  .portfolio-navigation.right {
    left: calc(100% - 50px); }
  .portfolio-navigation .container {
    position: relative;
    top: 45%;
    max-width: 100px; }
  .portfolio-navigation .chevron::before {
    color: #cecece;
    content: '';
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    height: 0.45em;
    width: 0.45em;
    position: relative;
    top: 0.15em;
    left: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    display: inline-block;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .portfolio-navigation .chevron:hover::before {
    color: #363636;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .portfolio-navigation .chevron.right:before {
    transform: rotate(45deg);
    left: -50px; }
  .portfolio-navigation .chevron.right.hover {
    color: #cecece;
    position: absolute;
    left: 15px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    z-index: 200; }
    .portfolio-navigation .chevron.right.hover:hover {
      color: #cecece; }
  .portfolio-navigation .chevron.right:hover.hover {
    -webkit-animation-name: ripple-right;
    animation-name: ripple-right;
    animation-iteration-count: 1; }
  .portfolio-navigation .chevron.left:before {
    transform: rotate(-135deg); }
  .portfolio-navigation .chevron.left.hover {
    color: #cecece;
    position: absolute;
    left: 15px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    z-index: 200; }
    .portfolio-navigation .chevron.left.hover:hover {
      color: #cecece; }
  .portfolio-navigation .chevron.left:hover.hover {
    -webkit-animation-name: ripple-left;
    animation-name: ripple-left;
    animation-iteration-count: 1; }

#portfolio-item {
  margin: 50px 0 60px; }
  @media (min-width: 320px) and (max-width: 767px) {
    #portfolio-item {
      margin: 50px 20px 60px; } }
  #portfolio-item p {
    line-height: 1.8; }
  #portfolio-item img {
    margin: 30px 0; }
  #portfolio-item blockquote {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.8; }
  #portfolio-item pre {
    border: 0;
    background: transparent; }
  #portfolio-item h3 {
    margin-top: 35px; }
  #portfolio-item .portfolio-title {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600; }
  #portfolio-item #portfolio-directory {
    margin-bottom: 30px; }
    #portfolio-item #portfolio-directory b {
      font: 600 0.85em "Open Sans", sans-serif;
      color: #363636;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 15px; }
    #portfolio-item #portfolio-directory span {
      color: #3780FB;
      letter-spacing: .5px;
      padding: 3px 6px;
      margin-top: 2px;
      margin-right: 5px;
      background: #d7d7d7;
      display: inline-block;
      font-weight: 600; }
    #portfolio-item #portfolio-directory a {
      font: 600 0.8em "Open Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      margin-top: 2px;
      padding: 5.5px 10px;
      display: inline-block;
      background: linear-gradient(to right, #363636 49.75%, #3780FB 50%);
      background-position: 99.75% 0;
      background-size: 200% 100%;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
      #portfolio-item #portfolio-directory a:hover, #portfolio-item #portfolio-directory a:focus {
        text-decoration: none;
        background-position: 0 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
      #portfolio-item #portfolio-directory a .fa {
        margin-left: 5px; }
  #portfolio-item .img-desc {
    margin-bottom: 20px;
    font-size: 95%;
    text-align: center; }
    #portfolio-item .img-desc img {
      margin-bottom: 0; }

#writings {
  margin: 50px 0 30px; }
  #writings .writings-intro {
    font-size: 3em;
    line-height: 1.45;
    color: #a1a1a1;
    font-weight: 600;
    margin-bottom: 30px; }
    @media (min-width: 320px) and (max-width: 767px) {
      #writings .writings-intro {
        margin: 0 20px 20px; } }
    #writings .writings-intro.post {
      margin-bottom: 10px; }
  #writings .post-content {
    line-height: 1.8; }
    @media (min-width: 320px) and (max-width: 767px) {
      #writings .post-content {
        margin: 20px 20px 30px; } }
  #writings .datetime {
    color: #363636;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .45em;
    margin-left: 20px; }
    @media (min-width: 320px) and (max-width: 767px) {
      #writings .datetime {
        display: block;
        margin-left: 0; } }
  #writings h2 {
    font-size: 2em;
    color: #363636; }
  #writings img {
    max-width: 100%;
    height: auto; }
  #writings pre {
    border: 0;
    background: transparent; }
  #writings code {
    color: #76a8fc;
    background-color: #f3f7ff; }
  #writings .float-right {
    height: auto;
    margin-bottom: 10px;
    float: right;
    padding-left: 25px; }
  #writings .float-left {
    float: left;
    padding-right: 25px; }
    @media (min-width: 320px) and (max-width: 767px) {
      #writings .float-left {
        padding-bottom: 15px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    #writings .float-none {
      float: none !important;
      padding: 0 !important; } }

.writings-row {
  padding: 30px 0;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 320px) and (max-width: 767px) {
    .writings-row {
      padding: 30px 15px; } }
  .writings-row:hover {
    background: #ececec;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .writings-row h3 {
    color: #000;
    font-size: 1.45em;
    font-weight: 600;
    margin: 0; }
  .writings-row.last-row {
    margin-bottom: 30px; }
  .writings-row .btn-view-post {
    color: #fff;
    font-size: .9em;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 18px;
    border-radius: 0;
    background-color: #a1a1a1;
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    @media (min-width: 320px) and (max-width: 767px) {
      .writings-row .btn-view-post {
        margin: 20px auto 0;
        width: 112px;
        display: block;
        float: none; } }
    .writings-row .btn-view-post:hover {
      background-color: #363636; }

/*# sourceMappingURL=style.css.map */
