/* what you still need to do

center portfolio elements (seems like they're not centered?)
contact page
cross browser compatibility
make sure it works on mobile
fix JS delay on bootstrap navbar

*/



/* Main menu settings */
@font-face {
  font-family: JosefinBold;
  src: url("fonts/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: JosefinSemiBold;
  src: url("fonts/JosefinSans-SemiBold.ttf");
}


body {
  background-color: #eee;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
}

h1 { /* Title header */
  background-color: #000;
  padding: 20px 85px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: JosefinSemiBold, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  display: table;
}

#maintitle {
    margin-top: -85px;
}

h2 { /* sub header */
  font-family: JosefinBold, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14pt;
}

.row h2, .col-md-4 h2 {
  text-align: left;
}

h3 {
  background-color: #000;
  padding: 20px 0px 20px 30px;
  width: 90%;
  color: #fff;
  text-transform: uppercase;
  font-size: 14pt;
  font-family: JosefinSemiBold, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  display: table;
}

h5 { /* Footer header */
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  width: 85%;
  font-size: 14pt;
  padding-bottom: 3px;
  letter-spacing: 1px;
  font-family: JosefinBold, Verdana, sans-serif;
}

.script {
  font-family: Georgia;
  font-style: italic;
  font-size: 13pt;
}

/* bootstrap edits - CONTACT pg */
@media screen and (min-width: 991px) {
  .contact-align {
    text-align: left;
  }
}

@media screen and (max-width: 990px) {
  .contact-align {
    text-align: center;
    padding-bottom: 30px;
  }
}

/* contact form */
#success_message {
  display: none;
}

.well {
  background-color: #eee;
  border: 0px solid #eee;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
}

.control-label {
  color: #444;
}

.btn {
  width: 50%;
}

.btn-warning {
  background-color: #bbb;
  border: 1px solid #aaa;
}

.btn-warning:hover, .btn-warning:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus  {
  background-color: #999 !important;
  border: 1px solid #888;
}


/* font awesome */

.circle-icon {
    background: #bcbcbc;
    padding: 25px;
    border-radius: 50%;
    margin: 3px;
}

.fa-cog {
  color: #eee;
}

.fa-contact {
  float: left;
  padding-right: 20px;
  clear: both;
}

/* header */

#headerBG.container-fluid, img#headerBG.container-fluid s{
    max-width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: static;
    background-image: url('http://hdwallpapersfit.com/wp-content/uploads/2015/02/amazing-cityscape-wallpapers-desktop.jpg');
    background-attachment: fixed;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 410px; left: 0; bottom: 0; right: 0;
}

.title {
  margin: -150px auto 0;
  position: absolute;
}

/* photo/video services image fill */

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
    object-fit: cover;
}


/* portfolio hover and stuff */

.asdf {
  position: relative;
  overflow: hidden;
  max-width: 300px;
  height: 150px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  float: left;
  margin: 2% 3%;
  border: 10px solid #ccc;
  cursor: pointer;
}

.asdf .text {
  color: #333;
  margin: 0;
  position: absolute;
  top: 5%;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  z-index: 20;
  bottom: 0;
  left: 10%;
  right: 0;
  width: 80%;
  padding: 0 10%;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.asdf .text h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.75em;
  border-bottom: 1px solid #333;
  margin-bottom: 18px;
}

.asdf .text .click {
  font-family: Helvetica, sans-serif;
}

.asdf .over {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: -20px;
}

.asdf .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.asdf:hover img, .asdf:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.asdf:hover .overlay, .asdf:focus .overlay {
  opacity: 0.35;
  filter: alpha(opacity=0.35);
}
.asdf:hover .text, .asdf:focus .text {
  opacity: 0.7;
  filter: alpha(opacity=0.7);
}

.asdf a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}


#fgnav {
  line-height: 20px !important;
   clear:both;
   float:left;
   margin:0;
   padding:0;
   border-bottom:1px solid #aaa; /* black line below menu */
   width:100%;
   font-family: JosefinBold, Verdana, sans-serif; /* Menu font */
   font-size:90%; /* Menu text size */
   z-index:1000; /* This makes the dropdown menus appear above the page content below */
   position:relative;
   background-color: #fff;
}

#fgnav:focus, #fgnav ul:focus, #fgnav ul li:focus,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover  {
  background-color: #fff;
}

@media screen and (min-width: 770px) {
  #fgnav ul {
     margin:0;
     padding:0;
     list-style:none;
     float:right;
     position:relative;
     right:50%;
  }

  #fgnav ul li {
    margin:0 0 0 1px;
    padding:0;
    position:relative;
    left:50%;
    top:1px;
  }

  #fgnav ul ul {
     display:none; /* Sub menus are hiden by default */
     position:absolute;
     top: 59px; /*aligns child udner parent*/
     left:0;
     right:auto; /*resets the right:50% on the parent ul */
     width: 13em; /* width of the drop-down menus */
  }


  #fgnav ul ul li {
     left:auto;  /*resets the left:50% on the parent li */
     margin:0; /* Reset the 1px margin from the top menu */
     clear:left;
     width:100%;
  }

  /* Flip the last submenu so it stays within the page */
  #fgnav ul ul.last {
     left:auto; /* reset left:0; value */
     right:0; /* Set right value instead */
  }


  /* Make the sub menus appear on hover */
  #fgnav ul li:hover ul,
  #fgnav ul li.hover ul { /* This line is required for IE 6 and below */
     display:block; /* Show the sub menus */
     z-index: 2000;
  }

  #fgnav ul ul li a,
  #fgnav ul li.active li a,
  #fgnav ul li:hover ul li a,
  #fgnav ul li.hover ul li a { /* This line is required for IE 6 and below */
     font-size:.8em;
     font-weight:normal; /* resets the bold set for the top level menu items */
     background:#ddd;
     color:#444;
     line-height: .5em !important; /* overwrite line-height value from top menu */
     border-bottom:1px solid #ccc; /* sub menu item horizontal lines */
  }

  .dropdown-menu {
    border: 0px solid #eee;
    background-color: #aaa;
  }

  #fgnav li a:after {
  	content: '';
  	display: block;
  	margin: auto;
  	height: 1.5px;
  	width: 0px;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
  }

  #fgnav li a:hover:after {
  	width: 100%;
  	background: #444;
  }

  /* Submenu items */
  #fgnav ul ul a:hover:after {
  	width: 100%;
  	background: transparent;
  }

  #fgnav ul ul {
     display:none; /* Sub menus are hiden by default */
     position:absolute;
     top: 59px; /*aligns child udner parent*/
     left:0;
     right:auto; /*resets the right:50% on the parent ul */
     width: 13em; /* width of the drop-down menus */
  }

  #fgnav ul ul li {
     left:auto;  /*resets the left:50% on the parent li */
     margin:0; /* Reset the 1px margin from the top menu */
     clear:left;
     width:100%;
  }
}


@media screen and (max-width: 769px) { /*for non desktop devices */

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #ededed;
  }

  #fgnav ul ul li a,
  #fgnav ul li.active li a,
  #fgnav ul li:hover ul li a,
  #fgnav ul li.hover ul li a { /* This line is required for IE 6 and below */
     font-size:.8em;
     font-weight:normal; /* resets the bold set for the top level menu items */
     background:#fff;
     color:#444;
     border-bottom: 0px solid #ccc;
   }
}

#fgnav ul li a {
   line-height: 20px !important;
   display: block;
   padding: 19px 30px;
   margin: 0;
   font: 11px Arial;
   text-decoration: none;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #000;
}

#fgnav ul li.active a {
   color:#fff;
   background:#000;
}

#fgnav ul ul li a:hover,
#fgnav ul li.active ul li a:hover,
#fgnav ul li:hover ul li a:hover,
#fgnav ul li.hover ul li a:hover { /* This line is required for IE 6 and below */
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -ms-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
   transition: color 0.5s ease-out;
   color: #c44741;
}

.navbar-collapse.in, .navbar-collapse.collapsing { /* prevents scrollbar from appearing */
    overflow-y: visible;
}



/* responsive slider */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; height: 400px; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
  z-index: 0;
}


/* body padding */

#bcontent {
  padding: 0 70px;
}


/* footer styling */

#logo {
  padding-top: 20px;
}

#foot {
  background-color: #FFF;
  padding: 20px 70px 40px 70px;
  text-transform: uppercase;
  border-top: 1px #AAA solid;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 90%;
  position: relative;
  float: left;
  left: 0.00%;
  width: 100.00%;
  margin-top: 20px;
}

#foot a {
  font-family:Verdana, Geneva, sans-serif;
  font-size:90%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  display: table;
  position: relative;
  padding-bottom: 3px;
}

#foot a:hover {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  color: #c44741;
  text-decoration: none;
}

#foot a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

#foot a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: width .5s ease;
}

#foot a:hover:before {
    width: 100%;
    background: #000;
    transition: width .5s ease;
}

#foot a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
