footer {
  font: 600 .8em $body-font;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: $white;
  // border-top: 1px solid $alto;
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;

  #footer-interior {
    width: $body-width;
    height: 60px;
    margin-left: 16.66666667%;
    height: $navbar-height;
    line-height: $navbar-height;
    margin: 0 auto;

    @include tablet {
      width: auto;
      max-width: none;
      padding: 0 40px;
      margin: 0;
    }

    @include mobile {
      width: auto;
      max-width: none;
      padding: 0 15px;
      margin: 0;
      height: 120px;
    }

    .col-md-6 {
      padding: 0;
    }

    .col-xs-12 {
      @include mobile {
        text-align: center !important;
      }
    }

    .right {
      text-align: right;

      a {
        display: inline-block;
        margin-left: 15px;
        color: $dodger-blue;

        &:hover, &:focus {
          color: darken($silver, 20%);
          background: lighten($silver, 40%);
          text-decoration: none;
        }

        &:after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          margin-top: -31px;
          background: transparent;
          transition: width .5s ease, background-color .5s ease;
        }

        &:hover:after {
          width: 100%;
          background: $mine-shaft;
          opacity: .3;
        }
      }
    }
  }

  .footer-links {
    text-align: right;
  }

  .footer-link {
    display: inline-block;
    margin-left: 10px;
  }

  .footer-copyright {
    padding-left: 0;
  }
}
