.modal-header {
	h3 {
    font: 1.9em $titleFont;
    color: $purple;
  	margin: 0;
  	padding: 0.4em;
  	text-align: center;
  	opacity: 0.8;
  	background: transparent;
  	border-radius: 3px 3px 0 0;
  }
}

.modal-backdrop.in  {
  opacity: .2 !important;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0;
}

.modal-header, .modal-footer {
	border: 0px solid transparent;
}

.modal-body {
	font: 400 .85em $secondFont;
	text-align: left;

	h4 {
    font: 1.3em $titleFont;
    color: $purple;
  }
}

.modal-footer {
	padding: 15px 15px 22px;

	p {
		text-align: right;

		@include phone {
			padding-right: 0;
			margin: 0 auto;
		}

		a {
			padding-right: 2.5em;
		}
	}

	button {
		color: #fff;
		font: .8em $titleFont;
		background: $steel-blue;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: block;
		margin: 0 auto;
		border: none;
		padding: 0.6em 1.2em;
		cursor: pointer;

		.fa {
			color: $off-white !important;
		}

		&:hover {
			background-color: $purple;
			@include transition(all .5s ease);
		}
	}
}
