.footer {
  text-align: center;
  padding: 30px 0;

  @include  desktop-and-under {
    padding: 30px;
    line-height: 1.5em;
  }

  .fa {
    font-size: 1.6em;
    color: #929292;
    @include transition(all ease-out .5s);
    padding: 15px 20px 0 20px;

    &:hover {
      color: #111;
      cursor: pointer;
      position: relative;
      bottom: 2px;
      @include transition(all .3s ease);
    }
  }

  .fa-facebook {
    padding-left: 0;

    @include phone {
      padding-left: 20px;
    }
  }
}
