.portfolio {
  background-color: $mainColor;
  color: #fff;
  width: 100%;
  padding: 90px 90px 300px 90px;
  overflow-x: hidden;


  a {
    border-bottom: 0px solid rgba(0,0,0,0);
  }

  h1 {
    font: 400 50px $fontFam;
    letter-spacing: 1px;
    color: #fff;
  }

  h3 {
    color: #ddd;
    font-family: $fontFam;
    font-size: 15px;
  }

  @include phone-and-tablet {
    .row {
      width: 99.5%;
    }
  }

  .post {
    &__image-container {
      height: 185px;
      width: 100%;


      &.compat-object-fit {
        background-size: cover;
        background-position: center center;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);

        .post__featured-image { // hide image if object fit is not supported - opacity to 0 for the link area
          opacity: 0;
        }
      }
    }

    &__featured-image {
      height: 185px;
      width: 100%;
      object-fit: cover;
    }
  }

  .description {
    color: rgba(255,255,255,.55);
    font-size: 85%;
    margin-left: 2px;
    margin-top: -5px;
    font-weight: 300;
    line-height: 4px;
    padding-bottom: 20px;

    @include phone-and-tablet {
      line-height: 12px;
    }
  }

  .thumbnail {
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(255, 255, 255, .2);
    display: block;
    margin-bottom: 5px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .floatBox {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 10%;
    width: 80%;

    .shape {
      stroke-dasharray: 0 1300; /* previously 560 */
      stroke-dashoffset: 400;
      stroke-width: 3px;
      fill: none;
      stroke: #888;
      transition: stroke-width 1s, stroke-dashoffset 2.5s, stroke-dasharray 2.5s;

      @include tablet {
        stroke-dasharray: 0 1500; /* if above = 560 then this was 1160 */
        stroke-dashoffset: 0;
        transition: stroke-width 1s, stroke-dashoffset 1.5s, stroke-dasharray 1.5s;
      }
    }

    /* for IE edge */
    @supports (-ms-accelerator:true) {
      .shape {
        stroke-dasharray: 0 1300;
        stroke-dashoffset: 400;
        transition: stroke-width 1s, stroke-dashoffset 1.5s, stroke-dasharray 1.5s;
      }
    }

    .content {
      @include transition(all 1s ease-out);
      opacity: 0;
      position: absolute;
      width: 100%;
      right: -60%;
      bottom: 2%;

      h3 {
        color: #fff;
        font-style: italic;
        font-size: 17px;

        @include phone-and-tablet {
          font-size: 13px;
          position: relative;
          right: 25%;
        }
      }
    }

    &:hover {
      .content {
        opacity: 1;
        @include transition(all 1.5s ease);
      }

      .shape {
        stroke: 3px;
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
      }

      /* for IE edge */
      @supports (-ms-accelerator:true) {
        .shape {
          stroke-dasharray: 915;
        }
      }
    }
  }
}
