@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:400,700,900);
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot?v=4.6.1");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg"); }
/* REGULAR MIXINS
============================================= */
/* MIXINS FOR RESPONSIVENESS
============================================= */
body {
  background-color: #efefef;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  padding-top: 60px; }

h1, h2 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

h3 {
  font-family: "Lora", Georgia, serif; }

a {
  text-decoration: none;
  color: #2C82C5; }
  a:hover {
    text-decoration: none; }

#boundnav {
  background-color: #000;
  font: 700 0.9em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  height: 60px;
  border: 0;
  border-radius: 0; }
  @media (max-width: 1024px) {
    #boundnav .navbar-nav {
      background-color: #000;
      padding-top: 40px; } }
  #boundnav .early-access {
    background-color: #2C82C5; }
    #boundnav .early-access a {
      border: 2px solid #000;
      margin: 4.5px !important;
      color: #000;
      font: 600 italic 0.9em "Lora", Georgia, serif;
      text-transform: lowercase; }
      @media (max-width: 1024px) {
        #boundnav .early-access a {
          border: 0 solid transparent;
          font: 700 1em "Source Sans Pro", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          letter-spacing: .5px;
          margin: 0 !important;
          height: auto; } }
      #boundnav .early-access a:hover {
        color: #000;
        border-color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        @media (max-width: 1024px) {
          #boundnav .early-access a:hover {
            border: 0 solid transparent; } }
  #boundnav li.active a {
    background-color: transparent; }
  #boundnav ul.nav > li {
    color: #777; }
    #boundnav ul.nav > li > a {
      margin: 5px 0;
      padding: 15px 25px; }
    #boundnav ul.nav > li:hover a {
      color: #000; }
    #boundnav ul.nav > li.dropdown:hover {
      background-color: #fff; }
    #boundnav ul.nav > li:not(.dropdown) a:hover {
      color: #fff; }
    #boundnav ul.nav > li:not(.dropdown-toggle)::after {
      content: '';
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
      color: #fff; }
    #boundnav ul.nav > li:not(.dropdown-toggle):not(.early-access):hover::after {
      border-top: 3px solid #fff;
      width: 100%;
      position: absolute;
      top: 0; }
      @media (max-width: 1024px) {
        #boundnav ul.nav > li:not(.dropdown-toggle):not(.early-access):hover::after {
          width: 0; } }
  #boundnav ul.dropdown-menu {
    box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    border: 0px solid transparent;
    padding: 0; }
    #boundnav ul.dropdown-menu > li > a {
      text-align: right;
      font-size: 90%;
      display: block;
      padding: 15px 20px; }
      #boundnav ul.dropdown-menu > li > a:hover {
        color: #fff;
        background-color: #2C82C5; }
      @media (max-width: 1024px) {
        #boundnav ul.dropdown-menu > li > a {
          text-align: left;
          padding: 15px 25px; } }
  #boundnav .caret {
    margin-left: 10px; }
  #boundnav .navbar-brand {
    padding-left: 40px;
    position: relative; }
    @media (max-width: 1024px) {
      #boundnav .navbar-brand {
        z-index: 200; } }
    #boundnav .navbar-brand > img {
      max-width: 200px;
      height: auto; }
    @media (min-width: 320px) and (max-width: 767px) {
      #boundnav .navbar-brand {
        padding-left: 20px; }
        #boundnav .navbar-brand > img {
          max-width: 140px; } }
  #boundnav svg {
    height: auto;
    width: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }
    #boundnav svg polygon {
      fill: #111;
      stroke: transparent;
      stroke-width: 0; }
    @media (max-width: 1024px) {
      #boundnav svg {
        z-index: 100; } }
    @media (min-width: 320px) and (max-width: 767px) {
      #boundnav svg {
        width: 90%;
        height: auto;
        left: -90px;
        top: -15px; } }

.connect #connect-facebook::after, .connect #connect-instagram::after, .connect #connect-twitter::after, .connect #connect-linkedin::after, .connect #connect-pinterest::after, .connect #connect-youtube::after {
  position: relative;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  font-family: 'FontAwesome';
  padding-left: 12px; }
.connect #connect-facebook::before, .connect #connect-instagram::before, .connect #connect-twitter::before, .connect #connect-linkedin::before, .connect #connect-pinterest::before, .connect #connect-youtube::before {
  display: none; }
@media (max-width: 1024px) {
  .connect #connect-facebook::after, .connect #connect-instagram::after, .connect #connect-twitter::after, .connect #connect-linkedin::after, .connect #connect-pinterest::after, .connect #connect-youtube::after {
    display: none; }
  .connect #connect-facebook::before, .connect #connect-instagram::before, .connect #connect-twitter::before, .connect #connect-linkedin::before, .connect #connect-pinterest::before, .connect #connect-youtube::before {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    font-family: 'FontAwesome';
    padding-right: 12px; } }
.connect #connect-facebook::after, .connect #connect-facebook::before {
  content: '\f230'; }
.connect #connect-instagram::after, .connect #connect-instagram::before {
  content: '\f16d'; }
.connect #connect-twitter::after, .connect #connect-twitter::before {
  content: '\f081'; }
.connect #connect-linkedin::after, .connect #connect-linkedin::before {
  content: '\f08c'; }
.connect #connect-pinterest::after, .connect #connect-pinterest::before {
  content: '\f0d2'; }
.connect #connect-youtube::after, .connect #connect-youtube::before {
  content: '\f166'; }

@media (min-width: 1041px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    color: #000; } }
@media (max-width: 1040px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff; }

  .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0); }

  .navbar-default .navbar-toggle {
    background-color: #ccc;
    border: 0;
    margin-top: 12px;
    margin-bottom: 4px; }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ccc; } }
.carousel-control.left, .carousel-control.right {
  background-image: none;
  visibility: hidden; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
      min-height: 100%;
      width: auto; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
      min-height: 100%;
      width: auto;
      object-fit: cover; } }

.carousel-inner, .carousel-inner > .item, .carousel-inner > .item-active {
  height: 550px; }

.carousel-indicators li {
  border-radius: 0; }
  .carousel-indicators li:hover {
    border-color: #2C82C5; }
  .carousel-indicators li.active:hover {
    background-color: #2C82C5; }

.carousel-text {
  z-index: 100;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  color: #fff;
  font: italic 1.3em "Lora", Georgia, serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (min-width: 320px) and (max-width: 767px) {
    .carousel-text {
      width: 280px; } }
  .carousel-text:hover .title {
    border-color: #2C82C5;
    color: #2C82C5;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .carousel-text .title {
    padding: 15px;
    border: 7px solid #fff;
    font: 700 2.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: auto;
    margin: 0 auto 3%; }

.footer {
  padding: 30px;
  background-color: #efefef;
  color: #111; }

#about, #sneakpeek, #blog, #newstories, #signup {
  padding: 70px 0; }
  #about .row, #sneakpeek .row, #blog .row, #newstories .row, #signup .row {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto 20px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #about .row, #sneakpeek .row, #blog .row, #newstories .row, #signup .row {
        width: 100%; } }
    @media (min-width: 320px) and (max-width: 767px) {
      #about .row, #sneakpeek .row, #blog .row, #newstories .row, #signup .row {
        width: 100%; } }

#sneakpeek h2, #newstories h2 {
  font: 600 2.2em "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #111;
  margin-bottom: 5px;
  padding: 12px 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block; }

#about {
  background-color: #ccc;
  width: 100%; }
  #about h1 {
    font: 600 3em "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px; }
  #about h3 {
    margin-top: 0;
    font-size: 1.3em;
    font-style: italic; }

#sneakpeek {
  width: 100%;
  background: url("../img/ignasi_pattern_s.png") repeat fixed; }

#blog h2 {
  font: 700 2.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #ccc;
  border: 7px solid #ccc;
  text-align: center;
  padding: 15px 25px;
  display: table;
  width: auto;
  margin: 3% auto; }
  @media (min-width: 320px) and (max-width: 767px) {
    #blog h2 {
      margin-bottom: 5%; } }
#blog .moreblog {
  font: italic 0.9em "Lora", Georgia, serif;
  text-align: right;
  padding: 15px 10px; }
  #blog .moreblog:hover .fa {
    color: #777; }
  #blog .moreblog a {
    padding-bottom: 5px;
    opacity: .6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #blog .moreblog a:hover {
      opacity: 1;
      color: #2C82C5; }
  #blog .moreblog .fa {
    font-size: .9em;
    padding-left: 7px; }
#blog .col--blog {
  background-color: #ccc;
  height: 400px;
  padding: 0;
  overflow: hidden; }
  @media (min-width: 1024px) {
    #blog .col--blog {
      margin: .5%;
      width: 24%; } }
  @media (min-width: 320px) and (max-width: 767px) {
    #blog .col--blog {
      height: 320px; } }
  #blog .col--blog:hover figcaption {
    opacity: 1;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0); }
  #blog .col--blog:hover img {
    -webkit-transform: translate3d(0, -130px, 0);
    transform: translate3d(0, -130px, 0); }
  #blog .col--blog:hover .header {
    -webkit-transform: translate3d(0, -169px, 0);
    transform: translate3d(0, -169px, 0); }
#blog img {
  position: relative;
  display: block;
  height: 400px;
  width: auto;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }
#blog .header {
  font: 600 1em "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #2C82C5;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7.5px 8.5px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }
#blog .date {
  font: 600 0.85em "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 7.5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
#blog figure {
  margin: 0; }
#blog figcaption {
  position: absolute;
  bottom: -100px;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0); }
  #blog figcaption .text {
    padding: 20px 20px 0;
    background-color: #ccc;
    height: 145px;
    overflow: hidden; }
    #blog figcaption .text::after {
      content: '[...]'; }
  #blog figcaption p.readmore {
    text-align: right;
    font: italic 0.85em "Lora", Georgia, serif;
    padding-right: 20px; }
    #blog figcaption p.readmore:hover, #blog figcaption p.readmore a:hover {
      color: #777;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      cursor: pointer; }
    #blog figcaption p.readmore::after {
      font-family: 'FontAwesome';
      content: '\f054';
      font-size: .75em; }
    #blog figcaption p.readmore:hover::after {
      color: #2C82C5;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }

#newstories {
  background: url("../img/ignasi_pattern_s.png") repeat fixed;
  width: 100%; }
  #newstories h2 {
    margin-bottom: 15px; }

#signup {
  background-color: #2C82C5;
  width: 100%; }
  #signup h2 {
    font: 700 2.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #ccc;
    border: 7px solid #ccc;
    text-align: center;
    padding: 15px 25px;
    display: table;
    width: auto;
    margin: 3% auto 5px; }
  #signup h3 {
    color: #ccc;
    margin-top: 0;
    font-size: 1.3em;
    font-style: italic; }
  #signup .form-control {
    border-radius: 0; }
  #signup .form-group {
    margin-bottom: 10px; }
  #signup .btn {
    border-radius: 0;
    text-transform: uppercase;
    font: 600 0.9em "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    border: 0; }
    #signup .btn:hover {
      border: 0;
      background-color: #777;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

/*# sourceMappingURL=style.css.map */
