*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


html, body, .contains, .header {
	height: 100%;
}


body {
	background: #fff;
	color: #69606b;
	font: 400 22px/1.5 $secondFont;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

a {
	outline: none;
	color: $firstColor;
	text-decoration: none;

  &:hover, &:focus {
    color: #69606b;
  	text-decoration: none;
  }
}

::-moz-selection {
    background: $thirdColor;
}

::selection {
    background: $thirdColor;
}

.header-nav {
	padding: 0 0 1em;
	position: relative;

  a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 0.3em 0;
    display: inline-block;
    opacity: 0.7;
    margin: 0 2.5em 0 0;
    white-space: nowrap;
    color: $firstColor;

    &:hover {
      opacity: 1;
      color: #69606b;
    }
  }
}
