<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- <div id="preloader">
    </div> -->

    <div class="content animated fadeIn" id="home">
      <div class="col-md-8 col-md-offset-2">
        {{ content }}
      </div>

      <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>

    <div id="home-contact">
      <div id="home-contact-wrapper">
        <h2>Contact</h2>
        <a href="mailto:doreenmtrinh@gmail.com" class="transition"><i class="fa fa-envelope-o faa-float animated-hover"></i></a>
        <a href="tel:+18587050285" class="transition"><i class="fa fa-phone faa-float animated-hover"></i>
        <a href="https://www.linkedin.com/in/doreen-trinh-378a99100"><i class="fa fa-linkedin faa-float animated-hover"></i></a>
      </div>
    </div>

    {% include footer.html %}

    <div style="clear:both;"></div>

  </body>

</html>
